{%for i in product_category_set%}
{%for img in product_images%}
{%if img.product_id == i.product_id%}
<div class="col-sm-4">
              <div class="product-image-wrapper">
                  <div class="single-products">
                      <div class="productinfo text-center">
                          <img src="{{img.image.url}}" alt="{{img.name}}" height="200px" width="200px"/>
                          {%if i.product_id.status%}
                          <h2>Availabe</h2>
                          {%else%}
                          <h2>UnAvailabe</h2>
                          {%endif%}
                          <p>{{i.product_id.name}}</p>
                          <a href="{% url 'shopify:cart_add' img.product_id.id  %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                      </div>
                      <div class="product-overlay">
                          <div class="overlay-content">
                              {%if i.product_id.status%}
                              <h2>Availabe</h2>
                              {%endif%}
                              <p>{{i.product_id.name}}</p>
                              <a href="{% url 'shopify:cart_add' img.product_id.id  %}"   id="basket" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                                  cart</a>
                              <!--{% url 'shopify:cart_add' img.product_id.id  %}-->
                          </div>
                      </div>
                  </div>
                  <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                          <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                          <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                      </ul>
                  </div>
              </div>
          </div>

{%endif%}
{%endfor%}
{%endfor%}
